h1,
div {
  margin: 10px auto;
  width: 400px;
}

h1 {
  text-align: center;
}

table {
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-collapse: collapse;
  position: relative;
  top: 76px;
  left: 134px;
}

table * {
  border-width: thin;
  border-style: solid;
}

table caption {
  text-transform: uppercase;
  border: none;
}

table th {
  border-style: dashed;
}

table td {
  border-color: black;
  color: white;
  font-weight: 600;
  width: 72px;
  height: 72px;
}

#mainBody {
  width: 1000px;
  height: 800px;
}

#id1 {
  width: 800px;
  height: 680px;
  background-image: url(board.jpg);
  background-size: 800px;
  float: left;
}

#result {
  float: right;
  width: 200px;
  margin-top: 200px;
}

.playedCell {
  background-size: 65px;
  width: 65px;
  height: 30px;
  background-repeat: no-repeat;
  border: none;
}

.shipImg {
  background-image: url(ship.png);
}

.missImg {
  background-image: url(miss.png);
}
